<h2>List of books:</h2>
{{#if books}}
		<ul>
	{{#each books}}
			<li class="list-item">
				{{title}}
				<br>
				{{author}}
				<br>
				{{description}}
				<br>

				<div class="buttons">
					<a href="/books/{{_id}}">DETAILS</a>
					<a href="/delete/{{_id}}">DELETE</a>
					<a href="/edit/{{_id}}">EDIT</a>
				</div>
			</li>
	{{/each}}
		</ul>
	{{else}}
	<p>There is no reviews yet but you can create your first book review <a href="/create">here</a>.</p>
{{/if}}