<h2>List of our books:</h2>
{{#if books}}
		<ul>
	{{#each books}}
			<li class="list-item">
				{{title}}
				<br>
				{{author}}
				<br>
				{{description}}
				<br>
				<a href="/books/{{_id}}">Details</a>
				<a href="/delete/{{_id}}">Delete</a>
			</li>
	{{/each}}
		</ul>
	{{else}}
	<p>There is no reviews yet but you can create your first book review <a href="/create">here</a>.</p>
{{/if}}